body{
	background-color: #E5E5E5;
	color: #000000;
	font-family: Fixed, Courier New;
	font-size: 10px;
	margin: 35px;
}
pre {
	font-family: Fixed, Courier New;
	font-size: 3pt;
}
.title {
	font-family: Terminal, Fixed, Courier New;
	font-size: 14pt;
	text-align: left;
	color: #000000;
}
.pagina {
	border : 1px solid #2808F6;
	background-color: #E5E5E5;
	width : 760px;
	height: 350px;
	text-align : left;
	margin: 0 auto;
	margin-top: 30px;
	padding : 10px;
	overflow: auto;
}
.menu {
    font-size: 3pt;
	width: 750px;
	text-align : right;
	margin: 0 auto;
	margin-top: 5px;
	padding : 5px;
}
.footer {
	font-family: Fixed, Courier New, Courier;
	width : 750px;
	font-size: 3pt;
	text-align : left;
	margin: 0 auto;
	padding : 5px;
}

a:link {
	color: #000000; 
	text-decoration: none;
}		
a:visited {
	 color:#000000;
	 text-decoration: none;
}
a:hover {
	 color: #2808F6; 
	 text-decoration: underline;
}
input, textarea, select {
	color: #FFFFFF;
	background: #000000;
	font-size: 8pt;
	font-family: Fixed, Terminal, Courier New, Courier;
}

input:hover, textarea:hover, select:hover {
	background: #808080;
}
