body{
	background-color:#000;
	color:#FFFFFF;
	font-family: Courier New, Terminus;
	font-size:10px;
	margin: 35px;
}
pre {
	font-family: Courier New, Terminus;
	font-size: 8pt;
}
.title {
	font-family: Terminus, Terminal, Courier New;
	font-size: 14pt;
	text-align: left;
	color: #FFFFFF;
}
.pagina {
	border : 1px solid #444444;
	background-color: #000000;
	width : 760px;
	height: 350px;
	text-align : left;
	margin: 0 auto;
	margin-top: 30px;
	padding : 10px;
	overflow: auto;
}
.menu {
    font-size:12px;
	width: 750px;
	text-align : right;
	margin: 0 auto;
	margin-top: 5px;
	padding : 5px;
}
.footer {
	width : 750px;
	text-align : left;
	margin: 0 auto;
	padding : 5px;
}

a:link {
	color:#FFFFFF; 
	text-decoration: none;
}		
a:visited {
	 color:#FFFFFF;
	 text-decoration: none;
}
a:hover {
	 color: #808080; 
	 text-decoration: none;
}
input, textarea, select {
	color: #FFFFFF;
	background: #000000;
	font-size: 8pt;
	font-family: Terminus, Terminal, Courier New, Courier;
}

input:hover, textarea:hover, select:hover {
	background: #808080;
}
