<?xml version="1.0"?> 
<!DOCTYPE menue [
	<!ELEMENT menue (menu+)>
	<!ELEMENT menu (text+)>
	
	<!ELEMENT text ANY>
	<!ATTLIST text
		id 	ID	#REQUIRED
	>
]>
<!--
To create a new menu voice, just use `menu` node. Each `text` node represents
a new voice: if you use only one node, it is a simple menu, if you use
several ones, the first one represents the main voice, the other ones 
represent the sub menu. The `id` attribute is REQUIRED, since it must be 
the same you'll use for the specified page in pages.xml.
Don't use XML special characters.

-->
<menue>
	<menu>
		<text id = 'home'>Home</text>
	</menu>
	<menu>
		<text id = 'module=blog'>Blog</text>
	</menu>
	<menu>	
		<text id = 'features'>Features</text>
		<text id = 'extern'>Extern_file</text>
		<text id = 'PHP'>PHP</text>
		<text id = 'go'>`go`</text>
		<text id = 'nigger'>NIGGER_NIGGER</text>
	</menu>
	<menu>
		<text id = 'modules'>Modules</text>
		<text id = 'security'>Security</text>
		<text id = 'blog'>Blog</text>
		<text id = 'syntax'>SyntaxHighlighter</text>
		<text id = 'logger'>Logger</text>
		<text id = 'cooler'>Cooler</text>
	</menu>
</menue>
