<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE menue [
	<!ELEMENT menue (menu+)>
	<!ELEMENT menu (text+)>
	
	<!ELEMENT text ANY>
	<!ATTLIST text
		id 	ID	#REQUIRED
	>
]>
<!--
    Read the wiki about misTET resources for further information, the example below should however be self explanatory.
-->
<menue>
	<menu>
		<text id = 'home'>Home</text>
	</menu>
	<menu>
		<text id = 'blog'>Blog</text>
	</menu>
	<menu>	
		<text id = 'pages'>My pages</text>
	</menu>
	<menu>
		<text id = 'modules'>Modules</text>
		<text id = 'security'>Security</text>
		<text id = 'blog'>Blog</text>
		<text id = 'logger'>Logger</text>
		<text id = 'markdown'>Markdown</text>
		<text id = 'syntax'>SyntaxHighlighter</text>
	</menu>
</menue>
