/* License: read COPYING */

body {
    width: 50%;
    color: #444;
    font-family : "Bitstream Vera Sans Mono","Consolas", "Lucida Console","Lucida Sans Typewriter","Courier New", "Courier", monospace;
    font-size:12px;
    margin: 2% auto;
}

div#title {
    text-shadow : 1px 1px 1px #ccc;
    font-weight : bold;
    font-size : 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

div#page {
    background-color:#ffffff;
    color: #666;
    font-family : "Bitstream Vera Sans Mono","Consolas", "Lucida Console","Lucida Sans Typewriter","Courier New", "Courier", monospace;
    overflow: auto;
    width: 100%;
    height: 350px;
    padding: 10px;
    margin: 0px auto 0 auto;
    font-size: 12px;
    border: 1px solid #8b8b8b;
    
    border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
    -moz-border-radius: 1.4em;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

    text-align: left;
}

div#page a:link {
    text-decoration: none;
    border-bottom : 1px dotted #aaa;
}

div.footer {
    background-color:#ffffff;
    color:#666;
    font-family : "Bitstream Vera Sans Mono","Consolas", "Lucida Console","Lucida Sans Typewriter","Courier New", "Courier", monospace;
    width : 100%;
    font-size : 12px;
    margin : 20px auto;
    padding:10px;
        
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
        
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

div.footer#padding {
    padding: 40px 0 0 0;                          
}

#code {
    border: 1px solid #000;
}

#menu {
    color:#666;
    font-family: Courier New,Courier;
    width : 100%;
    height: 20px;
    font-size : 13px;
    margin : 5px auto;
    padding:10px;
    font-weight:bold;
    list-style: none;

    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

    border: solid 1px #6d6d6d;
}

a {
    color: #444; 
    text-decoration: none;
}   
             
a:visited {
    color: #444; 
    text-decoration: none;
}

a:hover
{
    text-shadow : 1px 1px 1px #888;
}

#error {
    color: #990000;
    background-color: #FFF0F0;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px dashed #990000;
}

#error h2 {
    color: #990000;
    background: inherit;
}

#success {
    color: #000000;
    background: #F5FBE1;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed #7BA813;
}

#success h2 {
    color: #7BA813;
    background: inherit;
}
