/* Copyright lostpassword, 2010, misTET */
/* Read COPYING, in this directory */

#menu .menu {

    position: relative;
    float: left;
    margin-right: 5px;
    text-align: left;
    padding-left: 5px;
}

#menu .menu > div.menu {

    background-color: rgba(122, 122, 122, .9);
    color: #fff;
    padding: 5px;
    position: absolute;
    display: none;
    top: 15px;
    z-index: 42;
    border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
    -moz-border-radius: 1.4em;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#menu div.menu:hover > div.menu {
    display: block;
}

#menu .menu a.menu_element {
    padding: 0;
    color: #000;
}

#menu .menu a.menu_element div {
    width: 100%;
}

#menu .menu a.menu_element:hover {
    color: #BFBFBF;
}

#menu .menu div.separator {
    width: 100%;
    border-top: solid 1px #BFBFBF;
}

#menu a:link {
    color:#000000; ; 
    text-decoration: none;
}        

#menu a:visited {
    color:#000000;
    text-decoration: none;
}

#menu a:hover {
    color: #666; 
    text-decoration: underline;
}
